<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="msg" th:text="${msg}">

    </div>
    <script>
        const msg = document.getElementById("msg").innerText
        if(msg === '') {
            const flag = confirm("로그인이 필요한 기능입니다. 로그인 페이지로 이동하시겠습니까?")
            if(flag) {
                location.href = 'member/login'
            }
            else {
                history.back()
            }
        }
        else {
            alert(msg)
            history.back()
        }

    </script>
</body>
</html>